.examples {
    display: grid;
    grid-template-columns: 0.65fr 0.3fr;
    justify-content: space-between;
    align-items: center;
    font-family: 'MyriadPro', Arial, sans-serif;
}

.examples .swiper {
    width: 100%;
}

.examples .swiper-slide img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.examples .swiper-button-next,
.examples .swiper-button-prev {
    color: #000;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #5A79E9;

}

.examples .swiper-button-next:hover,
.examples .swiper-button-prev:hover {
    color: white;
    background-color: #5A79E9;
}

.examples .swiper-button-next::after,
.examples .swiper-button-prev::after {
    font-size: 16px;
}

.examples .swiper-button-next {}

.examples .swiper-button-prev {}

.examples__right h3 {
    color: #2c2c2c;
    font-size: 34px;
}

.examples__right p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.examples__right button {
    background: #5A79E9;
    text-transform: uppercase;
    height: 60px;
    font-size: 16px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: white;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.examples__right button:hover {
    transform: scale(1.05);
}